
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.join-our-team-ZQy {
  width: 100%;
  height: 376.4rem;
}
.join-our-team-ZQy .join-our-team-PQ1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.join-our-team-ZQy .join-our-team-PQ1 .rectangle-30-WN9 {
  width: 100%;
  height: 133.9rem;
  position: absolute;
  left: 0;
  top: 224.6rem;
  background-color: #202f32;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 {
  width: 100%;
  height: 410.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 {
  width: 100%;
  height: 30.2rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .screenshot-2023-08-18-at-612-1-3mP {
  width: 100%;
  height: 23.5rem;
  position: absolute;
  left: 0;
  top: 0rem;
  object-fit: cover;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw {
  width: 100%;
  height: 30.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .rectangle-35-VdP {
  width: 100%;
  height: 22.1rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: rgba(32, 47, 50, 0.5);
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .join-our-team-iuT {
  width: 36.6rem;
  height: 4rem;
  position: absolute;
  left: 72.7rem;
  top: 17.7rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.6666666667;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF {
  width: 100%;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.349999994) -0%, rgba(217, 217, 217, 0) 123.46%);
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .contact-reH {
  width: 5.9rem;
  height: 2rem;
  position: absolute;
  left: 128rem;
  top: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3025;
  letter-spacing: -0.015rem;
  color: #2b1b58;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .rectangle-24-w9w {
  width: 100%;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #202f32;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .get-help-SMb {
  width: 6.3rem;
  height: 2rem;
  position: absolute;
  left: 90.6rem;
  top: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3025;
  letter-spacing: -0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .join-our-team-917 {
  width: 10.1rem;
  height: 2rem;
  position: absolute;
  left: 102.1rem;
  top: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3025;
  letter-spacing: -0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .about-us-Sku {
  width: 6.6rem;
  height: 2rem;
  position: absolute;
  left: 117.85rem;
  top: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3025;
  letter-spacing: -0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .contact-M7B {
  width: 5.9rem;
  height: 2rem;
  position: absolute;
  left: 128.05rem;
  top: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3025;
  letter-spacing: -0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .california-wellness-collective-TR7 {
  width: 31.8rem;
  height: 2.5rem;
  position: absolute;
  left: 15.1rem;
  top: 2.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .item-9739371344-k9K {
  width: 7.8rem;
  height: 1.7rem;
  position: absolute;
  left: 126.25rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3025;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .hellocawellnesscollectivecom-3PK {
  width: 19.9rem;
  height: 1.7rem;
  position: absolute;
  left: 99.6rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3025;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .vector-8vZ {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 124.8rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .vector-557 {
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 97.5rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-r8lb-773 .header-1-ZDw .navigation-bar-BHF .group-1-vEq .ellipse-1-cKw {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 10rem;
  top: 2.1rem;
  border: solid 0.6rem #d75e30;
  box-sizing: border-box;
  border-radius: 2rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ {
  box-sizing: border-box;
  padding: 6rem 17.6rem 10.4rem 9.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-3ozm-twf {
  margin: 0rem 92.45rem 7.4rem 0rem;
  width: 64.15rem;
  height: 8.9rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-3ozm-twf .why-join-1Fb {
  width: 24rem;
  height: 7.6rem;
  position: absolute;
  left: 0.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 1.37;
  letter-spacing: -0.11rem;
  color: #202f32;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-3ozm-twf .partner-with-us-Hyo {
  width: 14.1rem;
  height: 2.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8571428571;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #d75e30;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd {
  margin: 0rem 6.9rem 0.9rem 60.4rem;
  width: calc(100% - 20.3rem);
  height: 7.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd .auto-group-sgct-VKB {
  margin-right: 37.6rem;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd .layer1-Dky {
  margin-right: 36.2rem;
  box-sizing: border-box;
  padding: 2.002rem 1.193rem 2.002rem 1.193rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/cwc_web/static/src/img/vector-vjw.png');
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd .layer1-Dky .group-jUR {
  width: 5.1137rem;
  height: 3.4956rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd .layer1-Eg5 {
  margin-right: 36.2rem;
  box-sizing:border-box;
  padding: 2.002rem 3.193rem 1.002rem 2.193rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/cwc_web/static/src/img/vector-vjw.png);
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-jjtr-yrd .layer1-Eg5 .frysictif-Ywf {
  width: 2.3506rem;
  height: 4.5432rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-8kdr-H8Z {
  margin: 0rem 0rem 8.5rem 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-8kdr-H8Z .become-part-of-a-network-of-passionate-associate-marriage-and-family-therapists-amft-and-social-workers-asw-who-share-a-commitment-to-empowering-individuals-to-live-healthier-lives-bQ9 {
  margin-right: 11.85rem;
  max-width: 32.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-8kdr-H8Z .join-a-community-of-dedicated-associate-marriage-and-family-therapists-amft-and-social-workers-asw-who-are-united-by-a-common-goal-empowering-individuals-to-lead-healthier-and-more-fulfilling-lives-zSH {
  margin-right: 16.35rem;
  max-width: 33.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4375;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-8kdr-H8Z .gain-paid-experience-on-your-journey-to-licensure-cyT {
  max-width: 21.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B {
  margin: 0rem 6.9rem 1rem 60.4rem;
  width: calc(100% - 20.3rem);
  height: 7.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-RR7 {
  margin-right: 36.2rem;
  box-sizing:border-box;
  padding: 2.002rem 3.193rem 1.002rem 2.193rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/cwc_web/static/src/img/vector-vjw.png);
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-RR7 .group-jRo {
  width: 4.1188rem;
  height: 4.3245rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-T6u {
  margin-right: 36.2rem;
  box-sizing:border-box;
  padding: 2.002rem 3.193rem 1.002rem 2.193rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/cwc_web/static/src/img/vector-vjw.png);
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-T6u .group-Mi5 {
  width: 3.711rem;
  height: 3.7155rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-h1F {
  margin-right: 36.2rem;
  box-sizing:border-box;
  padding: 2.002rem 3.193rem 1.002rem 2.193rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/cwc_web/static/src/img/vector-vjw.png);
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-m4u1-K7B .layer1-h1F .ful9cmtif-oa5 {
  width: 5.0908rem;
  height: 3.774rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-cyfh-vPo {
  margin-right: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-cyfh-vPo .build-your-caseload-navigate-clinical-and-business-intersections-and-become-a-valued-member-of-our-supportive-community-fMP {
  margin-right: 13.05rem;
  max-width: 33.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-cyfh-vPo .access-first-class-clinical-supervision-and-clinical-skills-training-through-the-southern-california-counseling-center-XPb {
  margin-right: 19.55rem;
  max-width: 31.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .become-a-client-section-1-bxZ .auto-group-cyfh-vPo .participate-in-trauma-training-including-emdr-yWV {
  max-width: 17.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB {
  box-sizing: border-box;
  padding: 8.1rem 8.4rem 6.2rem 30rem;
  width: 100%;
  height: 63.9rem;
  display: flex;
  align-items: center;
  background-color: #202f32;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ {
  margin: 0rem 8.7rem 0.8rem 0rem;
  width: 60.7rem;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .join-our-team-7WD {
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8571428571;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #d75e30;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h {
  width: 100%;
  height: 44.6rem;
  position: relative;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 {
  width: 48.5rem;
  height: 44.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.1176470588;
  letter-spacing: -0.034rem;
  color: #141a2f;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.7666666667;
  letter-spacing: -0.034rem;
  color: #fef2e6;
  font-family: DM Serif Display, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.9411764706;
  letter-spacing: -0.034rem;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13-sub-2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5882352941;
  letter-spacing: -0.034rem;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13-sub-3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.9411764706;
  letter-spacing: -0.034rem;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13 .benefits-of-joining-our-team-a-paid-opportunity-to-gain-hours-of-experience-towards-licensure-top-notch-clinical-supervision-marketing-and-networking-guidance-post-licensure-planning-establish-a-client-base-before-licensure-gain-valuable-experience-in-navigating-the-intersection-of-clinical-practice-and-business-operations-x13-sub-4 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5882352941;
  letter-spacing: -0.034rem;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .vector-3-RFK {
  width: 60.7rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 18.4rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .vector-4-9x1 {
  width: 60.7rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 23.8rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .vector-5-Jpu {
  width: 60.7rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 28.8rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .vector-6-Tho {
  width: 60.7rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 33.7rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-9emr-BcZ .auto-group-ukpt-S2h .vector-7-nEH {
  width: 60.7rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 38.6rem;
  object-fit: contain;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-jdt9-iNq {
  width: 56.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-jdt9-iNq .rectangle-23-G9T {
  width: 47.7rem;
  height: 46.7rem;
  position: absolute;
  left: 8.5rem;
  top: 2.9rem;
  background-color: #d75e30;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-jdt9-iNq .rectangle-24-bBj {
  width: 47.7rem;
  height: 46.7rem;
  position: absolute;
  left: 8.5rem;
  top: 2.9rem;
  background-color: #d75e30;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .group-3-rqB .auto-group-jdt9-iNq .adobestock167820746preview-1-L9K {
  width: 54.6rem;
  height: 48rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 {
  margin-bottom: 7.4rem;
  width: 100%;
  height: 52.4rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM {
  width: 100%;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #fdf1e5;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM .rectangle-31-Wxu {
  width: 100%;
  height: 67.1rem;
  position: absolute;
  left: 0;
  top: -4.8rem;
  background-color: #ffffff;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM .have-a-current-registered-associate-with-the-bbs-complete-the-application-process-and-any-necessary-interviewing-be-approved-by-the-cwc-clinical-team-TNM {
  width: 47.9rem;
  height: 13.5rem;
  position: absolute;
  left: 100rem;
  top: 24.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8125;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM .auto-group-lxx9-gku {
  width: 35.9rem;
  height: 8.8rem;
  position: absolute;
  left: 100rem;
  top: 13.5rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM .auto-group-lxx9-gku .requirements-RTb {
  width: 35.9rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: -0.12rem;
  color: #202f32;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .join-our-team-section-apM .auto-group-lxx9-gku .how-to-get-started-vfF {
  width: 17.3rem;
  height: 2.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8571428571;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #d75e30;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-jdgf-du7 .adobestock480962535preview-1Au {
  width: 58.1rem;
  height: 41.1rem;
  position: absolute;
  left: 25rem;
  top: 5.5rem;
  object-fit: cover;
  vertical-align: top;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .get-started-7Dw {
  margin: 0rem 0rem 1rem 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8571428571;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #d75e30;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .apply-now-ocZ {
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.6;
  letter-spacing: -0.12rem;
  color: #fef2e6;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h {
  width: 75%;
  height: 112.6rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .group-4-gAZ {
  width: 80.7rem;
  height: 9.9rem;
  position: absolute;
  left: 31.7rem;
  top: 49.1rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .group-4-gAZ .caseload-preferences-p1s {
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #d75e30;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .group-4-gAZ .auto-group-ddru-j8q {
  width: 100%;
  height: 4.7rem;
  position: relative;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .group-4-gAZ .auto-group-ddru-j8q .what-is-your-desired-caseload-UMK {
  width: 25.1rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .group-4-gAZ .auto-group-ddru-j8q .rectangle-48-Azq {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .auto-group-arzr-VnD {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 31.7rem;
  top: 39rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .auto-group-arzr-VnD .what-is-your-registered-associate-with-the-bbs-2n9 {
  width: 40rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .auto-group-arzr-VnD .rectangle-44-iey {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .professional-information-rFP {
  width: 32.2rem;
  height: 3.6rem;
  position: absolute;
  left: 31.7rem;
  top: 33.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #d75e30;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP {
  width: 80.7rem;
  height: 21.9rem;
  position: absolute;
  left: 31.7rem;
  top: 7.4rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .personal-information-fCq {
  margin-bottom: 1.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #d75e30;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-z3vj-b6V {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 4.7rem;
  display: flex;
  align-items: center;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-z3vj-b6V .auto-group-mndr-veZ {
  margin-right: 1.3rem;
  box-sizing: border-box;
  padding: 1.1rem 2.1rem;
  width: 39.7rem;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-z3vj-b6V .auto-group-hk4t-zuK {
  box-sizing: border-box;
  padding: 1.1rem 2.1rem;
  width: 39.7rem;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-qgov-HdX {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.7rem;
  display: flex;
  align-items: center;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-qgov-HdX .pronouns-KKK {
  margin-right: 1.3rem;
  box-sizing: border-box;
  padding: 1.1rem 1.7rem;
  width: 39.7rem;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-qgov-HdX .auto-group-npa7-zgM {
  box-sizing: border-box;
  padding: 1.1rem 2.4rem;
  width: 39.7rem;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .personal-information-form-9VP .auto-group-yn5q-Gtm {
  box-sizing: border-box;
  padding: 1.1rem 1.7rem;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d75e30;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .networking-and-marketing-mad {
  width: 80.7rem;
  height: 9.9rem;
  position: absolute;
  left: 31.7rem;
  top: 64.4rem;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .networking-and-marketing-mad .networking-and-marketing-hDP {
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #d75e30;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .networking-and-marketing-mad .auto-group-bqod-2WZ {
  width: 100%;
  height: 4.7rem;
  position: relative;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .networking-and-marketing-mad .auto-group-bqod-2WZ .are-you-willing-to-network-and-market-your-therapy-services-BPT {
  width: 48.8rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .networking-and-marketing-mad .auto-group-bqod-2WZ .rectangle-48-sn5 {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs {
  width: 80.8rem;
  height: 21.5rem;
  position: absolute;
  left: 31.6rem;
  top: 80.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 {
  box-sizing: border-box;
  padding: 0rem 0rem 1.8rem 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .additional-information-TkH {
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #d75e30;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-6wlt-NMT {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 4.7rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-6wlt-NMT .is-there-anything-else-you-want-us-to-know-WiZ {
  width: 34.8rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-6wlt-NMT .rectangle-48-19X {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-u4cs-XNm {
  width: 100%;
  height: 4.7rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-u4cs-XNm .do-you-have-any-questions-59P {
  width: 22.3rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
  color: #fef2e6;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-7ye3-wG9 .auto-group-u4cs-XNm .rectangle-49-kWR {
  width: 80.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-fngb-L6h .additional-information-cDs .auto-group-c2jo-USR {
  width: 100%;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1428571429;
  color: #fdf1e5;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
  background-color: #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-emgp-keq {
  box-sizing: border-box;
  padding: 5.3rem 17rem 6.5rem 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-emgp-keq .have-a-question-contact-us-today-5x1 {
  margin-right: 28.2rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.15rem;
  color: #fef2e6;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .auto-group-emgp-keq .auto-group-otm1-oND {
  margin-top: 2.3rem;
  width: 15.9rem;
  height: 3.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.37;
  color: #1b2858;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee0d4;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb {
  box-sizing: border-box;
  padding: 5.4rem 10rem 0.2rem 9.3rem;
  width: 100%;
  height: 41.2rem;
  overflow: hidden;
  position: relative;
  background-color: #202f32;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD {
  margin-bottom: 12.2rem;
  width: 100%;
  height: 19.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP {
  margin-right: 12.6rem;
  width: 28.9rem;
  height: 100%;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-59n3-RH7 {
  margin: 0rem 2.5rem 2.9rem 0rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-59n3-RH7 .ellipse-1-9U1 {
  margin: 0rem 1.2rem 0.1rem 0rem;
  width: 4rem;
  height: 4rem;
  border: solid 0.6rem #d75e30;
  box-sizing: border-box;
  border-radius: 2rem;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-59n3-RH7 .california-wellness-collective-qrd {
  max-width: 21.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.12;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 {
  margin-left: 0.7rem;
  width: calc(100% - 0.7rem);
  height: 10.6rem;
  display: flex;
  align-items: center;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-8cbd-VAV {
  margin: 1.2rem 1.1rem 1.2rem 0rem;
  height: calc(100% - 2.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-8cbd-VAV .vector-ows {
  margin-bottom: 2.3rem;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-8cbd-VAV .vector-x45 {
  margin-bottom: 2rem;
  width: 1.3rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-8cbd-VAV .vector-tyK {
  width: 1.3rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-axtp-Sjw {
  width: 25.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-axtp-Sjw .item-323937-1344-zmT {
  width: 8.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8571428571;
  color: #eee0d4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-axtp-Sjw .infocaliforniawellnesscollectivecom-iBf {
  width: 24.6rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8571428571;
  color: #eee0d4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-1fby-smP .auto-group-y5wb-Ma5 .auto-group-axtp-Sjw .w-pico-blvdlos-angeles-ca-90019-R65 {
  width: 25.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 6.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8571428571;
  color: #eee0d4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .site-map-get-help-join-our-team-about-uscontact-uX3 {
  margin: 0.3rem 14rem 0rem 0rem;
  max-width: 9.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3710000992;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .site-map-get-help-join-our-team-about-uscontact-uX3 .site-map-get-help-join-our-team-about-uscontact-uX3-sub-0 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.37;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .site-map-get-help-join-our-team-about-uscontact-uX3 .site-map-get-help-join-our-team-about-uscontact-uX3-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3025;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .additional-info-self-help-resources-iso {
  margin-top: 0.3rem;
  max-width: 14.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3710000992;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .additional-info-self-help-resources-iso .additional-info-self-help-resources-iso-sub-0 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.37;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .additional-info-self-help-resources-iso .additional-info-self-help-resources-iso-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3025;
  font-style: italic;
  color: #fdf1e5;
  font-family: DM Sans, 'Source Sans Pro';
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH {
  box-sizing: border-box;
  padding: 0.3rem 0rem 0.3rem 10.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw {
  margin-right: 0.4rem;
  width: 21.5rem;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .newsletter-signup-i93 {
  margin-bottom: 1.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.37;
  color: #fdf1e5;
  font-family: DM Serif Display, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-uozk-F8y {
  margin-bottom: 3rem;
  width: 100%;
  height: 3.2rem;
  position: relative;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-uozk-F8y .enter-your-email-PW5 {
  width: 10.5rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #fdf1e5;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-uozk-F8y .rectangle-13-hWm {
  width: 21.5rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d75e30;
  box-sizing: border-box;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-xzib-2Z3 {
  display: flex;
  align-items: center;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-xzib-2Z3 .vector-P8h {
  margin: 0rem 1.6rem 0.1rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-xzib-2Z3 .vector-hv5 {
  margin: 0.1rem 1.8rem 0rem 0rem;
  width: 0.7rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-w6q1-Zmw .auto-group-xzib-2Z3 .vector-2hT {
  margin-top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-smyf-YUD .auto-group-tphd-dtH .auto-group-tek3-NWR {
  margin: 4.4rem 0rem 11rem 0rem;
  width: 13.2rem;
  height: calc(100% - 15.4rem);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1428571429;
  color: #fdf1e5;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d75e30;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-rr23-SFP {
  width: 124rem;
  height: 4.2rem;
  position: relative;
  flex-shrink: 0;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-rr23-SFP .copyright-2023-california-wellness-collective-all-rights-reserved-aMb {
  width: 34.3rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3.6363636364;
  color: #eee0d4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-rr23-SFP .terms-of-service-GER {
  width: 7.9rem;
  height: 4rem;
  position: absolute;
  left: 106.4rem;
  top: 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3.6363636364;
  color: #eee0d4;
  font-family: Khula, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-rr23-SFP .privacy-policy-xN9 {
  width: 6.5rem;
  height: 4rem;
  position: absolute;
  left: 117.4rem;
  top: 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3.6363636364;
  color: #eee0d4;
  font-family: Khula, 'Source Sans Pro';
  white-space: nowrap;
}
.join-our-team-ZQy .join-our-team-PQ1 .join-our-team-os3 .footer-Gmb .group-2-b3B .auto-group-rr23-SFP .vector-1-GNq {
  width: 124rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
